<html>
    <head>
        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
        <link rel="search" href="opensearch.xml" type="application/opensearchdescription+xml" title="Search">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" href="static/css/style.css">
        <title>{{ query }} - Search</title>
    </head>
    <body>
    {{ search_header|safe }}
    {{ response|safe }}
    </body>
	<script src="static/js/keyboard.js"></script>
</html>
